<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CharacterCreateView</title>
</head>
<body>
<form method="POST" action="characters">

<h1>キャラ作成</h1>
<h2>キャラクター</h2>
	職業：
		<input type="radio" name="jobs" value="戦士">戦士
		<input type="radio" name="jobs" value="魔法使い" >魔法使い
		<input type="radio" name="jobs" value="武闘家" >武闘家
	<br>
	名前：<input type="text" name="name" size="30" maxlength="20">
	<br>
<p><input type="submit" name="submit" value="次へ" /></p>

</form>
</body>
</html>
