<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CharacterCreateView</title>
</head>
<body>
<form method="POST" action="battle2">

<h1>キャラクターリスト</h1>
<th:block th:each="characterData:${character}">
<div th:block th:if="${#lists.size(character)} ge 1">
<h2>キャラクター1</h2>
		名前：<span th:text="${characterData.name}"> </span>
		<input type="hidden" name="character[0].name" th:value="${characterData.name}">
		<br>
		職業：<span th:text="${characterData.job}"> </span>
		<input type="hidden" name="character[0].job" th:value="${characterData.job}">
		<br></div>
<div th:block th:if="${#lists.size(character)} ge 2">
<h2>キャラクター2</h2>
		名前：<span th:text="${characterData.name}"> </span>
		<input type="hidden" name="character[1].name" th:value="${characterData.name}">
		<br>
		職業：<span th:text="${characterData.job}"> </span>
		<input type="hidden" name="character[1].job" th:value="${characterData.job}">
		<br></div>
<div th:block th:if="${#lists.size(character)} ge 3">
<h2>キャラクター3</h2>
		名前：<span th:text="${characterData.name}"> </span>
		<input type="hidden" name="character[2].name" th:value="${characterData.name}">
		<br>
		職業：<span th:text="${characterData.job}"> </span>
		<input type="hidden" name="character[2].job" th:value="${characterData.job}">
		<br></div>
<div th:block th:if="${#lists.size(character)} ge 4">
<h2>キャラクター4</h2>
		名前：<span th:text="${characterData.name}"> </span>
		<input type="hidden" name="character[3].name" th:value="${characterData.name}">
		<br>
		職業：<span th:text="${characterData.job}"> </span>
		<input type="hidden" name="character[3].job" th:value="${characterData.job}">
		<br></div>
</th:block>

<p><input type="submit" name="submit" value="このメンバーで戦う" /></p>

</form>

<form method="GET" action="battle">
<p><input type="submit" name="submit" value="キャラを追加する" /></p>
</form>

</body>
</html>