<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="POST" action="battle2" >
<h1>キャラ作成</h1>
<th:block th:each="characterData:${character}">
<h2>キャラクター</h2>
		名前：<span th:text="${characterData.name}"> </span>
		<input type="hidden" name="character" th:value="${characterData.name}">
		<br>
		職業：<span th:text="${characterData.job}"> </span>
		<input type="hidden" name="character" th:value="${characterData.job}">
		<br>
	<input type="radio" name="command" value="たたかう">たたかう
	<input type="radio" name="command" value="かいふく" >かいふく
		<br>
</form>
</th:block>
<form method="POST" action="result" >
	<input type="submit"  name="decision" value="決定"><br>
</form>
</body>
</html>