<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="result" method="POST">

	<span th:text="${character.get(0)}"> </span>は<span th:text="${item}"> </span>で<span th:text="${action}"> </span>した！
		<input type="hidden" name="name" th:value="${character.get(0)}">
		<input type="hidden" name="item" th:value="${item}">
		<input type="hidden" name="action" th:value="${action}">
		<br>

	<span th:text="${damage}"> </span>
		<input type="hidden" name="damage" th:value="${damage}">
		<br>
	残りHP<span th:text="${villan}"> </span>
		<input type="hidden" name="villan" th:value="${villan}">

</form>
<form method="GET" action="battle">
<p><input type="submit" name="submit" value="キャラ作成画面に戻る" /></p>
</form>
</body>
</html>